body {
    background-color: rgb(42, 55, 73);
}

#title-bar {
    -webkit-app-region: drag;
    height: 30px; 
    background-color:rgba(25, 25, 27, 0.781);
    padding: none;
    margin: 0px; 
}
   
#title {
    position: fixed;
    top: 0px;
    left: 6px; 
}
   
#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 6px;
}

#min-btn {
    border: none;
    background-color: transparent;
    color: darkgrey;
    outline: none;
}

#min-btn:hover {
    background-color: #696969;
}

#max-btn {
    border: none;
    background-color: transparent;
    color: darkgrey;
    outline: none;
}

#max-btn:hover {
    background-color: #696969;
}

#close-btn {
    border: none;
    background-color: transparent;
    color: darkgrey;
    outline: none;
}

#close-btn:hover {
    background-color: #C75050
}